/target
**/*.rs.bk

# vendoring
/.cargo
/vendor

# automake
/autom4te.cache/
/configure
/Makefile
/Makefile.in
/hubauth.spec
/hubauth-*
/hubauth-*.tar.xz
/install-sh
/missing
/config.log
/config.status
/aclocal.m4

